[Unit]
Description=noVNC Service
After=network.target

[Service]
ExecStart=/usr/local/bin/start_novnc.sh
Restart=always

[Install]
WantedBy=multi-user.target
