[Unit]
Description=Nester Flask webapp
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /opt/nester/start.sh docker
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
